


body {
    background: yellowgreen;
}
#conteneur {
    background: gray;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
header {
    background:red;
    height: 100px;
    width: 100%;
    line-height: 100px;
}
.gauche, .droite {
    background: lightblue;
    width: 150px;
    height: 500px;
    float: left;
    line-height: 500px;
}
.millieu {
    background: green;
    width: 500px;
    height: 500px;
    float: left;  
}
.zone1, .zone2, .zone3, .zone4, .zone5 {
    /* avec .bas ses 5 éléments sont les enfants de .millieu */
    background:pink;
    height: 500px;
    width: 100px;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
}
.bas {
    background: orange;
    height: 50px;
    /* .bas est l'enfant de l'élément .millieu eu il a une position relative a son parent */
    position: relative;
    right: 0;
    /* .bas est positionné à 450px du haut de l'élément .millieu */
    top: 450px;
}
.bas p {
    width: 500px;
    height: 50px;
    /* le P est absolue par rapport à son parent .bas (et non pas par rapport à l'ancêtre car .bas est relatif) */
    position: absolute;
    line-height: 50px;
}
/* }
.clear {
    clear: both;
} */

/* SOLUTION 1 sans .clear dans le html */
